{% from 'bootstrap4/utils.html' import render_icon %}
<div class="accordion" id="ticket-list">
    <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ ticket_id }}" aria-expanded="false" aria-controls="collapseOne">
                <span class="text-dark">{{ ticket_title }}</span>
                <div class="container-flex p-1">
                    <span class="badge text-bg-primary">Created By: {{ ticket_creator }}</span>
                    <span class="badge {{ badge_background_colour }}">{{ ticket_state }}</span>
                </div>
            </button>
        </h2>
        <div id="collapse{{ ticket_id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{ ticket_description }}
                <hr class="hr"/>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg d-grid gap-2">
                            <button onclick="copyToClipboard(window.location.href.concat('ticket?t={{ ticket_id }}'))"
                                    type="button"
                                    class="btn btn-outline-dark btn-block btn-sm .d-inline-flex .justify-content-center .align-items-center">
                                {{ render_icon("clipboard") }}
                                Copy Ticket Link
                            </button>
                        </div>
                        <div class="col-lg d-grid gap-2">
                            <a role="button" href="{{ url_for('ticket_details', t=ticket_id) }}"
                               class="btn btn-primary btn-block btn-sm">More
                                Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
