{% extends 'bootstrap/main-base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    FerretTickets
{% endblock %}


{% block content %}

    <!--
        TIPS about using Bootstrap-Flask:
        https://github.com/helloflask/bootstrap-flask
        https://bootstrap-flask.readthedocs.io/
    -->
    <div class="container-fluid">
        <div class="container-sm" style="width: 20%; height: auto; float: left;">
            <div class="d-grid gap-2">
                {% for function_button in function_buttons_list %}
                    {{ function_button | safe }}
                {% endfor %}
            </div>
            <div class="list-group">
                {% for table in table_list %}
                    {{ table | safe }}
                {% endfor %}
            </div>
        </div>
        <div class="container-xl" style="margin-left: 20%; height: auto;">
            {% for item in items_list %}
                {{ item | safe }}
            {% endfor %}
        </div>
    </div>


{% endblock %}
