{% extends 'bootstrap/main-base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    FerretTickets
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <p class="lead text-danger">You do not have sufficient privileges to perform this action</p>
                <p class="small">If you think this is an error, please contact an administrator</p>
                <p class="pt-5"><strong>Redirecting...</strong></p>
            </div>
        </div>
    </div>

{% endblock %}