<div class="accordion" id="ticket-list">
    <div class="accordion-item" style="margin-bottom: 10px;">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ ticket_id }}" aria-expanded="false" aria-controls="collapseOne">
                {{ ticket_title }}
                <span class="badge text-bg-primary" style="margin-left: 10px">Created By: {{ ticket_creator }}</span>
                <span class="badge {{ badge_background_colour }}" style="margin-left: 10px">{{ ticket_state }}</span>
            </button>
        </h2>
        <div id="collapse{{ ticket_id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{ ticket_description }}
                <div class="container" style="margin-top:10px">
                    <a role="button" href="/ticket?t={{ ticket_id }}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>